<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Google Product Feed Validator</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
    <script src={{ url_for('static', filename='js/bootstrap.bundle.min.js') }}></script>
</head>
<body>
    <a href="/">
        <header class="d-flex align-items-center">
            <h3>Google Product Feed Validator</h3>
        </header>
    </a>
    <div class="container">
        <div class="row">
            <div class="col d-inline-block align">
                <form action="{{ url_for('upload_from_url') }}" method="POST">
                    <label for="url">Insert the link to feed</label>
                    <input type="text" name="url" id="url">
                    <input type="submit" value="Validate">
                </form>
            </div>
            <div class="col d-inline-block">
                <form action="{{ url_for('upload_from_file') }}" method="POST" enctype=multipart/form-data>
                    <label for="file">Upload feed file</label>
                    <input type="file" name="file" id="file" value="Choose file">
                    <input type="submit" value="Validate">
                </form>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column align-items-center">
        {% if error %}
            <div class="alert alert-danger w-50 d-flex justify-content-center">{{ error }}</div>
        {% endif %}
    </div>
    <div class="container d-flex flex-column align-items-center">
            {% if data %}
                {% for error in data['errors'] %}
                    <div class="alert alert-danger w-50 d-flex justify-content-center"> {{ error }}</div>
                {% endfor %}
            {% endif %}
    </div>
    <div class="container">
        {% if data %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%">Tag</th>
                    <th scope="col" style="width: 10%">Count</th>
                    <th scope="col" style="width: 35%">Example</th>
                    <th scope="col" style="width: 10%">Error Count</th>
                    <th scope="col" style="width: 35%">Error example</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">id</th>
                    <td>{{ data['data']['id']['count'] }}</td>
                    <td>{{ data['data']['id']['example'] }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">title</th>
                    <td>{{ data['data']['title']['count'] }}</td>
                    <td>{{ data['data']['title']['example'] }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">google_product_category</th>
                    <td>{{ data['data']['google_product_category']['count'] }}</td>
                    <td>{{ data['data']['google_product_category']['example'] }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">product_type</th>
                    <td>{{ data['data']['product_type']['count'] }}</td>
                    <td>{{ data['data']['product_type']['example'] }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">link</th>
                    <td>{{ data['data']['link']['count'] }}</td>
                    <td>{{ data['data']['link']['example'] }}</td>
                    <td>{{ data['data']['link']['error_count'] }}</td>
                    <td>{{ data['data']['link']['error_example'] }}</td>
                </tr>
                <tr>
                    <th scope="row">price</th>
                    <td>{{ data['data']['price']['count'] }}</td>
                    <td>{{ data['data']['price']['example'] }}</td>
                    <td>{{ data['data']['price']['error_count'] }}</td>
                    <td>{{ data['data']['price']['error_example'] }}</td>
                </tr>
                <tr>
                    <th scope="row">sale_price</th>
                    <td>{{ data['data']['sale_price']['count'] }}</td>
                    <td>{{ data['data']['sale_price']['example'] }}</td>
                    <td>{{ data['data']['sale_price']['error_count'] }}</td>
                    <td>{{ data['data']['sale_price']['error_example'] }}</td>
                </tr>
                <tr>
                    <th scope="row">image_link</th>
                    <td>{{ data['data']['image_link']['count'] }}</td>
                    <td>{{ data['data']['image_link']['example'] }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">additional_image_link</th>
                    <td>{{ data['data']['additional_image_link']['count'] }}</td>
                    <td>{{ data['data']['additional_image_link']['example'] }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">brand</th>
                    <td>{{ data['data']['brand']['count'] }}</td>
                    <td>{{ data['data']['brand']['example'] }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">description</th>
                    <td>{{ data['data']['description']['count'] }}</td>
                    <td>{{ data['data']['description']['example'] }}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</body>
</html>